@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased select-none;
  }
}

/* Custom Scrollbars estilo Postman */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.dark ::-webkit-scrollbar-track {
  background: #1C1C1C;
}
.dark ::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 3px;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #444444;
}

::-webkit-scrollbar-track {
  background: #F9F9F9;
}
::-webkit-scrollbar-thumb {
  background: #D1D1D1;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #B0B0B0;
}
